# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!myo32.dll
!myo64.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!myo32.lib
!myo64.lib

# Executables
*.exe
*.out
*.app

*.log
*.tlog
*.opensdf
*.sdf
*.suo

# Visual Studio temporary/debug files.
*.idb
*.pdb


PMMain/Midas/Debug/
PMMain/Midas/Midas/Debug/

# Comment this if you want to add anything to testDev directory. But for now, leave in gitignore!
testDev/