# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!myo32.dll
!myo64.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!myo32.lib
!myo64.lib
!gtestd.lib
!gtest_main-mdd.lib

# Executables
*.exe
*.out
*.app

*.log
*.tlog
*.opensdf
*.sdf
*.suo

# Visual Studio temporary/debug files.
*.idb
*.pdb

*.vcxproj.user


PMMain/Midas/Debug/
PMMain/Midas/Midas/Debug/
PMMain/Midas/Win32/Debug/

#Folder ONLY used for generated doxygen files. These should not be pushed!
PMMain/Midas/doc/

# Comment this if you want to add anything to testDev directory. But for now, leave in gitignore!
testDev/

#QT stuff
PMMain/Midas/MidasGUI/Debug/
PMMain/Midas/MidasGUI/GeneratedFiles/


#MISC
PMMain/Midas/MidasProfileManager/GeneratedFiles/*
*Thumbs.db
PMMain/Midas/Win32/
PMMain/Midas/ipch/

# PMInstaller log files
PMMain/Midas/MidasGUI/PMInstaller/*/LogFiles/
PMMain/Midas/MidasGUI/PMInstaller/*/Reports/

